.cor-com {
    color: orange;
} 

ul li a {
    margin:0 0 0 8px;

}

#rodape-center p{
    text-align:center;
}


#secao-video p, iframe{
    padding: 50px;
    
}

#secao-video p {
    color: white;
}

header a{
    color: white;
}
